html,
body,
#app {
  margin: 0;
  padding: 0;
}

html.dark {
  background: #222;
  color: white;
}

a {
  font-weight: 400;
  color: var(--el-color-primary);
}

.dark {
  .sidebar {
    background: var(--el-fill-color-light);
  }
}

.w-0 {
  width: 0;
}
.p-0 {
  padding: 0;
}
.sidebar {
  gap: 12px;
}
.margin-none {
  margin: 0!important;
}
